.icon{
    height: 300px;
    margin-top: -20px;
    margin-left: 10px;
    transform: rotate(178deg);
}

#animation{
    animation: taadaa cubic-bezier(.68,.83,.71,.21) infinite;
}

@keyframes taadaa { 
    0% {
      opacity: 0.1;
    }
  
    100% {
      opacity: 1;
    }
  }

  .light{
    animation: lightOn cubic-bezier(0.175, 0.885, 0.32, 1.275) ease;
}

  @keyframes lightOn { 
    0% {
        opacity: 0.1;
      }
    
      100% {
        opacity: 0.5;
      }
  }
